<div class="memo">
  <p>Title: <%= @memo.title %></p>
  <div class="memo-body">
  <p><%= @memo.body %></p>
  </div>
</div>
<div>
  <a class="button" href="/<%=session[:username]%>/memo/<%= params[:memo_id] %>/edit">Edit</a>
  <form class="inline-form" action="/<%=session[:username]%>/memo/<%= params[:memo_id] %>" method="post">
  <input class="button" type="submit" value="Delete">
  <input type="hidden" name="_method" value="delete">
  </form>
</div>
